body {
    font-family: sans-serif;
    margin: 0;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0px 15%;
}

.header h2 {
    color:#F9FAF8;
    font-size: 24px;
    flex: 1;

}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    flex: 1;
}

.header a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.summary {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15%;
}

.summary-text {
    flex: 1;
}

.summary-text h3 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.summary-text p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0px;
}

.summary-text button {
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    border-width: 0px;
}

.summary-img {
    height: 200px;
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.boxes {
    background-color: white;
    padding-top: 0px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 80px;
}

.boxes h3 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.boxes-container {
    display: flex;
    gap: 40px;
}

.boxes-container div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container div img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border: 2px solid #3882F6;
    margin-bottom: 10px;
}

.boxes-container p {
    text-align: center;
    margin-top: 0px;
}

.quote {
    padding: 120px 20%;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote h3 {
    text-align: right;
    font-weight: bolder;
    font-size: 36px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
